<header>
  <h1>Foto de capa</h1>
  <p>Esta é a imagem que ficará no topo do cardápio.</p>
</header>
<section class="container">
  <form (ngSubmit)="postCardapio()" enctype="multipart/form-data">
    <div class="photo">
      <div class="preview">
        <img [src]="imageUrl" height="200" width="800" alt="">
      </div>
      <div class="options">
        <label for="image">Editar foto de capa <i class="pi pi-upload"></i></label>
        <input type="file" id="image" (change)="onFileSelected($event)">
        <button type="button" (click)="removeImage()">Remover <i class="pi pi-trash"></i></button>
      </div>
    </div>

    <header>
      <h1>Cores</h1>
      <p>Tema de fundo</p>
    </header>
    <div class="colors">
      <div>
        <img ngSrc="./assets/images/example-light.svg" height="462" width="298" alt="">
        <div>
          <input type="radio" name="radio" value="Branco" [(ngModel)]="this.Cardapio.corTema">
          <label>Light</label>
        </div>
      </div>
      <div>
        <img ngSrc="./assets/images/example-dark.svg" height="462" width="298" alt="">
        <div>
          <input type="radio" name="radio" value="Escuro" [(ngModel)]="this.Cardapio.corTema">
          <label>Dark</label>
        </div>
      </div>
    </div>

    <header>
      <p>Cor da barra de navegação</p>
    </header>

    <div class="selectColors">
      <select [(ngModel)]="this.Cardapio.corNav" [ngModelOptions]="{ standalone: true }">
        <option [value]="undefined" selected disabled>Selecione a cor que desejar!</option>
        <option *ngFor="let options of OptionsSelect" value="{{options.value}}">{{options.viewValue}}</option>
      </select>
    </div>

    <div class="save">
      <button type="submit">Salvar</button>
    </div>
  </form>
</section>
