main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 150px);
  height: calc(100% - 54px);

  .modal {
    height: 200px;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .container{

      h1{
        text-align: center;
        font-size: 18px;
      }

      div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 10px;

        button{
          padding: 10px;
          font-weight: bolder;
          color: #fff;
          background-color: #e74444;
          border: 1px solid #e74444;
          border-radius: 5px;
          width: 200px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover{
            background-color: #fff;
            color: #e74444;
          }

          &:nth-child(2){
            background-color: #0F0F0F;
            color: #fff;
            border: 1px solid #0F0F0F;

            &:hover{
              background-color: #fff;
              color: #0F0F0F;
            }
          }
        }
      }

    }
  }

}
