<main>
  <section class="modal">
    <div class="container">
      <div class="close">
        <i class="pi pi-times" (click)="closeModal()"></i>
      </div>
      <h1>Editar nome da categoria</h1>
      <form (ngSubmit)="putCategoryName()">
        <div>
          <label for="name">Novo nome</label>
          <input type="text" id="name" name="name" [(ngModel)]="this.NomeCategoria.nome">
        </div>
        <div>
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </section>
</main>
