<ng-container *ngIf="!visibleAddItem">
  <section class="container">
    <div class="search">
      <input type="text" placeholder="Pesquisar">
      <i class="pi pi-search"></i>
      <select>
        <option disabled selected>Categorias</option>
      </select>
    </div>
    <div class="addItem">
      <button class="btn btn-primary" (click)="addItem()">Adicionar Item</button>
    </div>
  </section>

  <section>
    <table>
      <thead>
      <tr>
        <th *ngFor="let option of tableOption">{{option.title}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itens">
        <td></td>
        <td>{{item.nome}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.precoPadrao}}</td>
        <td>{{item.precoPromocional}}</td>
        <td>{{item.estoque}}</td>
      </tr>
<!--      tem que arrumar esse aviso de tabela vazia-->
<!--      <div class="empty">-->
<!--        <h1>Vazia</h1>-->
<!--        <p>Adicione um item clicando no botão "+Item"</p>-->
<!--      </div>-->
      </tbody>
    </table>
  </section>
</ng-container>

<app-add-itens *ngIf="visibleAddItem"></app-add-itens>
