.container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search{
    position: relative;
    display: flex;
    align-items: center;

    input[type="text"]{
      padding: 10px 30px 10px 10px;
      border: 1px solid #929292;
      border-radius: 5px;
      width: 300px;
      font-weight: bolder;
    }

    select{
      width: 200px;
      padding: 10px;
      border: 1px solid #929292;
      border-radius: 5px;
      margin-left: 10px;
      font-weight: bolder;
      cursor: pointer;
    }

    i{
      font-size: 1.2rem;
      color: #929292;
      position: absolute;
      right: 220px;
    }
  }

  .addItem{

    button{
      padding: 10px;
      font-weight: bolder;
      color: #fff;
      background-color: #0F0F0F;
      border: 1px solid #0F0F0F;
      border-radius: 10px;
      width: 200px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover{
        background-color: #fff;
        color: #0F0F0F;
      }
    }
  }
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  thead{
    font-weight: bolder;
    text-align: left;

    tr{
      height: 30px;
      background-color: #0F0F0F;
      color: #fff;
    }

    th{
      padding: 0 10px;
    }

    th:nth-child(2){
      width: 10%;
    }

    th:nth-child(3){
      width: 60%;
    }
  }

  tbody{
    height: 60px;

    tr{
      border-bottom: 1px solid #929292;
      height: 50px;
      font-weight: bolder;
      color: #5E5E5E;
      text-align: left;

      img{
        margin-top: 4px;
      }

      .empty{
        position: absolute;
        left: 45%;
        text-align: center;
        font-weight: bolder;

        h1{
          font-size: 1.5rem;
        }

        p{
          color: #929292;
        }
      }
    }

    td{
      padding: 0 10px;
    }
  }
}
