<main>
  <div class="login">
    <span class="logo">MAGU</span>
    <header>
      <h1>Bem-Vindo!</h1>
      <p>Faça o login para entrar no painel de controle do seu cardápio digital!</p>
    </header>
    <form (ngSubmit)="login()">
      <div>
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="user">
      </div>
      <div>
        <label>Senha</label>
        <input type="password" name="password" [(ngModel)]="password">
      </div>
      <div>
        <button type="submit">LOGIN</button>
      </div>
    </form>
  </div>
</main>
