<main>
  <header>
    <h1>Meu perfil</h1>
  </header>

  <section class="container">
    <div class="perfil">
      <form>
        <div>
          <label>Nome de usuário</label>
          <input type="text" disabled>
        </div>
        <div>
          <label>Nome do estabelecimento</label>
          <input type="text" disabled>
        </div>
        <div>
          <label>Email</label>
          <input type="email" disabled>
        </div>
        <div>
          <button>Editar</button>
          <button type="submit">Salvar</button>
        </div>
      </form>
    </div>
    <header>
      <h1>Alterar senha</h1>
    </header>
    <div class="password">
      <form>
        <div>
          <label>Senha atual</label>
          <input type="password">
        </div>
        <div>
          <label>Nova senha</label>
          <input type="password">
        </div>
        <div>
          <label>Confirmar nova senha</label>
          <input type="password">
        </div>
        <div>
          <button type="submit">Atualizar senha</button>
        </div>
      </form>
    </div>
  </section>
</main>
