<header>
  <h1>Categorias</h1>
  <p>As seções estão ordenadas na ordem que ficará no cardápio</p>
</header>

<div class="containerSearch">
  <div class="search">
    <input type="text" name="search" placeholder="Pesquisar">
    <i class="pi pi-search"></i>
  </div>
  <div>
    <button type="button" (click)="confirmModal()">Adicionar Categoria</button>
  </div>
</div>

<section class="container" *ngFor="let categoria of categorias; let i = index;">
  <div class="title">
    <div class="text">
      <h2>{{this.categoria.nome}}</h2>
      <p (click)="dataModal(categoria.ID)">editar nome</p>
    </div>
    <div class="options">
      <button type="button" (click)="modalItens(categoria.ID)"><i class="pi pi-plus"></i> Item</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th *ngFor="let option of tableOption">{{option.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.tableValue}}</td>
        <div class="empty" *ngIf="empty">
          <h1>Vazia</h1>
          <p>Adicione um item clicando no botão "+Item"</p>
        </div>
      </tr>
    </tbody>
  </table>
</section>

<app-confirm-modal *ngIf="cModal"></app-confirm-modal>
<app-data-modal *ngIf="dModal" [idCategoria]="idCategoria"></app-data-modal>
<app-modal *ngIf="modal" [idCategoria]="idCategoria"></app-modal>
