<header>
  <h1>Categorias</h1>
  <p>As seções estão ordenadas na ordem que ficará no cardápio</p>
</header>

<div class="containerSearch">
  <div class="search">
    <input type="text" name="search" [(ngModel)]="search" placeholder="Pesquisar">
    <i class="pi pi-search"></i>
  </div>
  <div>
    <button type="button" (click)="confirmModal()">Adicionar Categoria</button>
  </div>
</div>
<ng-container *ngFor="let categoria of categorias; let i = index;">
  <section class="container" *ngIf="categoria.nome.toLowerCase().includes(search.toLowerCase())">
    <div class="title">
      <div class="text">
        <h2>{{this.categoria.nome}}</h2>
        <p (click)="dataModal(categoria.ID)">editar nome</p>
      </div>
      <div class="options">
        <button type="button" (click)="modalItens(categoria.ID)"><i class="pi pi-plus"></i> Item</button>
        <div class="trash">
          <button type="button" (click)="confirmDelete(categoria.ID)"><i class="pi pi-trash"></i></button>
        </div>
      </div>
    </div>
    <table>
      <thead>
      <tr>
        <th *ngFor="let option of tableOption">{{option.title}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="itensCategoria[i]?.length; else emptyTemplate">
        <tr *ngFor="let item of itensCategoria[i]">
          <td><img src="./assets/photoItens/{{item.foto}}" height="50" width="50"></td>
          <td>{{item.nome}}</td>
          <td>{{item.descricao}}</td>
          <td>{{item.precoPadrao}}</td>
          <td>{{item.precoPromocional}}</td>
          <td>{{item.estoque}}</td>
          <td><i class="pi pi-times" (click)="putItemCategoryForNull(item.ID)"></i></td>
        </tr>
      </ng-container>
      <ng-template #emptyTemplate>
        <tr>
          <td colspan="6">
            <div class="empty">
              <h1>Vazia</h1>
              <p>Adicione um item clicando no botão "+Item"</p>
            </div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </section>
</ng-container>

<app-confirm-delete *ngIf="cdModal" [categoriaId]="idCategoria"></app-confirm-delete>
<app-confirm-modal *ngIf="cModal"></app-confirm-modal>
<app-data-modal *ngIf="dModal" [idCategoria]="idCategoria"></app-data-modal>
<app-modal *ngIf="modal" [idCategoria]="idCategoria"></app-modal>
